@use "variable";
@use "button";
@use "mixin";

/* shopセクション */

.shop{
    padding: 80px 0;
    background-image: url(../img/sp/bg-shop.png);
    background-size: cover;
    background-position: center center;

    @include mixin.mq('pc'){
        padding: 60px 0;
        background-image: url(../img/bg-shop.png);
        background-size: cover;
        background-position: center center;
    }
}

.shop-inner{
    padding: 0 20px;

    @include mixin.mq('pc'){
        max-width: 600px;
        margin: 0 auto;
    }
}

.shop-text{
    margin-top: 40px;
    color: #fff;
    font-size: 14px;
    line-height: 2;
    text-align: center;
}

.form{
    margin-top: 40px;

    @include mixin.mq('pc'){
        display: flex;
        gap: 20px;
    }
}

.form-input{
    width: 100%;
    font-family: 'Josefin Sans', 'Noto Sans JP', sans-serif;
    display: block;
    padding: 14px;
    border-radius: 4px;
    border: none;
    opacity: .7;
}

.form-submit{
    font-family: 'Josefin Sans', 'Noto Sans JP', sans-serif;
    display: block;
    width: 120px;
    color: #fff;
    padding: 12px 10px;
    border-radius: 4px;
    border: none;
    margin: 10px auto 0;
    background-color: variable.$color-gold;

    @include mixin.mq('pc'){
        margin-top: 0;
        width: 120px;
        transition: opacity .3s;
    }

    &:hover{
        @include mixin.mq('pc'){
            cursor: pointer;
            opacity: .7;
        }
    }
}


