
$page-background: #f1eee4; // ページの背景色
$footer-background: #3c301e; // フッターの背景色
$border-beige:rgba(241, 238, 228, 0.25); // ボーダーベージュ色
$color-gold:#a98c5f; // テキスト色 金色
$color-black-t40:rgba(0, 0, 0, .4);
$color-black-t60:rgba(0, 0, 0, .6);

